/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/scss/bootstrap";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

body {
  background-image: url(http://st.gde-fon.com/wallpapers_original/520854_temnaya_cvetnaya_soni_1920x1080_www.Gde-Fon.com.jpg);
  background-size: 100vw;
  background-attachment: fixed;
  background-position: center;
}

